/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea

!/var/repositories/
/var/repositories/*
!/var/repositories/.gitkeep

!/var/repositories_override/
/var/repositories_override/*
!/var/repositories_override/.gitkeep
/app/config/deploy.yml
