# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Key used to access API pages
    api_key: '%env(API_KEY)%'
    env(API_KEY): "test"

    storage_path: "%kernel.root_dir%/../var/repositories"
    storage_override_path: "%kernel.root_dir%/../var/repositories_override"
